{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
	{{ super() }}
	{{ pagedown.include_pagedown() }}
{% endblock %}

{% block body %}
	{% block navbar %}
		{# {{ nav.top.render() }} #}
		{% include 'includes/_navbar.html' %}
	{% endblock %}
	<div class="page-header">
		<div class="container">
			<h1>添加新文章</h1>
		</div>	
	</div>
		<div class="container">
			<form method ="POST">
				{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.title(class="form-control", placeholder="请输入文章标题") }}
				</div>
				<div class="form-group">
					{{ form.body(only_input=true, rows=10, class="form-control") }}
				</div>
				<div class="form-group">
					{{ form.submit(class="btn btn-primary") }}
				</div>
				<div>
					{{ form.body(only_preview=True) }}
				</div>
			</form>
		</div>
{% endblock %}

