<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Grandpaan</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>
<!-- {% autoescape false %}
	{{ title }}
{% endautoescape %} -->
<!-- {# {{ title|safe }} #}
{#  {{ body|md|safe }} #}
{# {{ read_md('test.md')|md|safe}} #} -->


{% set links=[
	{'label':'Home', 'href':url_for('.index')},
	{'label':'About', 'href':url_for('.about')},
	{'label':'Serivce', 'href':url_for('.serivce')},
	{'label':'Project', 'href':url_for('.projects')}
] %}


<nav>
	{% for link in links %}
		{% if not loop.first %} | {% endif %}
		{% if link is current_link %}
			<a href="{{ link.href }}">{{ link.label }}</a>
		{% endif %}
	{% endfor %}
</nav> 

</body>
</html>