<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Grandpaan</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>
<!-- {% autoescape false %}
	{{ title }}
{% endautoescape %} -->
<!-- {# {{ title|safe }} #}
{#  {{ body|md|safe }} #}
{# {{ read_md('test.md')|md|safe}} #} -->


{% set links=[
	('Home', url_for('.index')),
	('About', url_for('.about')),
	('Serivce', url_for('.serivce')),
	('Project', url_for('.projects'))
] %}


<nav>
	{% for label,href in links %}
		{% if not loop.first %} | {% endif %}
			<a href="
					{% if href is current_link %} 
						# 
					{% else %}
						{{ href }} 
					{% endif %}">
			{{ label }}</a>
		
	{% endfor %}
</nav> 

</body>
</html>