{% extends 'base.html' %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="page-header">
		<div class="container">
			<h1>{{ self.title()}}</h1>
		</div>	
	</div>
	<div class="container">
		<a href="{{ url_for('main.edit') }}" class="btn btn-default">发表新文章</a>
	</div>
{% endblock content %}


{% block footer %}
	<hr>
	{{ super() }}
{% endblock %}

<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"> -->

<!-- {% autoescape false %}
	{{ title }}
{% endautoescape %} -->
<!-- {# {{ title|safe }} #}
{#  {{ body|md|safe }} #}
{# {{ read_md('test.md')|md|safe}} #} -->